extends ./layout

block content
    div(class="box")
        h1 <small>문슐랭 가이드</small><br>점심 뭐 먹지?
        h1(class="answer") [#{storeResult.name}]
        if(storeResult.map != "NULL" || "")
            a(href=storeResult.map, target="_blank")
                img(src="/static/svg/location.svg" width="32" height="32" alt="약도보기")
        if(storeResult.tel != "NULL" || "")
            a(href="tel:" + storeResult.tel, target="_blank")
                img(src="/static/svg/phone.svg" width="32" height="32" alt="전화번호")
        a(href="/" target="_self")
            img(src="/static/svg/refresh.svg" width="32" height="32" alt="새로고침")
        p(class="store_tags")
            each store in storeAll
                span #{store.name} 
    div.copyright Curated by moonspam
    div.bg_black
    div(class="bg_img blur" style="background:url(http://lorempixel.com/640/480/food) center center no-repeat fixed #000000;background-size:cover")
