doctype html
html(lang="ko")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
        meta(name="description" content="오늘 점심 뭐 먹지 고민하는 분들을 위한 사이트, 공덕역 주위 점심밥집 추천 사이트")
        meta(name="keywords" content="점심, 밥집, 추천, 맛집, 오늘 점심 뭐 먹지")
        meta(property="og:title" content="점심 뭐 먹지?")
        meta(property="og:type" content="article")
        meta(property="og:image" content="http://iluku.net/lunch/icon.png")
        meta(property="og:description" content="오늘 점심 뭐 먹지 고민하는 분들을 위한 공덕역 주위 점심밥집 추천 사이트")
        title 점심 뭐 먹지?
        link(rel="icon" href="/static/favicon.ico?v=1.0")
        link(rel="apple-touch-icon" href="/static/icon.png?v=1.0")
        link(rel="stylesheet" type="text/css" href="/static/css/style.css")
        script(src="/static/js/jquery/jquery.js")
    body
        block content